.festival_calendar {
    width: 940px;
    position: relative;
    margin: 50px auto 40px;
}

.festival_calendar h2 {
    padding: 0 0 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #000;
}

.festival_calendar h2 strong {
    font-weight: 800;
}